<!--<div class="row">-->
<!--    <div class="col">-->
        <!--<div class="jumbotron">-->
            <div id="mission">
              <!--<img src="/img/Library-Logo-Transparent.png"/>-->
              <br>
              <h4>OUR MISSION</h4>
                <p> <strong>The Free Ebook Library aims to promote inclusiveness and celebrate diversity by providing free access <br>to books and 
                resources to any individual for educational and recreational purposes.</strong>
                </p>
                <br>
            </div>
          <!--</div>-->
<!--    </div>-->
<!--</div>-->
<br><br>
<h2>UPCOMING EVENTS</h2><br>
<div class="event">
<img src="/img/Jan8.png" alt="January 8" />
<div>
<p class="eventListing">Virtual Storybook Read Aloud with Author Kevin Henkes.
<br>
<strong>10:00 am</strong>
<br>
<em>Children ages 3-9</em></p>
</div>
</div>
<div class="event">
<img src="/img/Jan17.png" alt="January 17" />
<div>
<p class="eventListing">Live Interview with Community Activist Roger Newcomb
<br>
<strong>7:00 pm</strong>
<br>
<em>Teens and Adults</em></p>
</div>
</div>
<br><br>
<h2>CHECK OUT THIS WEEK'S TOP PICKS!</h2>

<!--/api/ebook/random-->
<br>
<script>
  $(document).ready(function(){
   
   async function getTopPicks(){
     let response = await fetch("/api/ebook");
     let data = await response.json();
     return data;
   }
   
   
  
  }
</script>
