<div class="row">
    <div class="col">
        <div class="jumbotron">
            <div class="container">
              <h1 class="display-4">Free E-Book Library</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
    </div>
</div>