<div>
    <div>
        <br>
        <h2>LOGIN</h2>
        <br>
    </div>
</div>
<div id="logincontainer">
    <div>
        <form id="login-form">
            <div class="form-group">
              <label for="username-input">Username</label>
              <input type="text" class="form-control" id="username-input" aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password-input">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <button id="submit-btn" type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
            <br><br><br>
          </form>
    </div>
    <div id="signup" class="col text-center">
        <br><br>
        <p>If you don't have account</p>
        <br>
        <p><a href="/signup" class="btn btn-primary">Sign Up</a></p>
    </div>
</div>

<script src="/js/login.js"></script>