
<script src="/js/search.js"></script>


<br>
<h2>SEARCH</h2>
<br>
<div id="searchform">
    <input id="keyword" class="form-control" type="text" placeholder="Type keyword" name="keyword"/>
    <br><br>
    <button id="searchButton" class="btn btn-primary">Search</button>
</div>
<br><br>
<div id="noresults"></div>
<div id="searchresults"></div>
<br>
<div id="titleresults"></div>

</div>
<br><br><br><br>