<div class="row mb-4">
    <div class="col">
        <h1>Sign Up</h1>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <form id="login-form">
            <div class="form-group">
              <label for="username-input">Username</label>
              <input type="text" class="form-control" id="username-input" aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password-input">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <button id="submit-btn" type="submit" class="btn btn-primary" disabled="disabled">Signup</button>
          </form>
    </div>
</div>

<script src="/js/signup.js"></script>