<br>
<br>
<div>
    
        <h2>ACCOUNT MANAGEMENT</h2>
        <h3><em>Hello <%= locals.session.username %>!</em></h3>
        <br>
        <hr>
        <h4>Update username:</h4>
        <br>
        <form id="username-form">
            <div class="form-group">
                <label for="username-input">Username</label>
                <input type="text" class="form-control" id="username-input" placeholder="Enter username">
              </div>
              <br>
              <button id="submit-btn" type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
        </form>
        <hr>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <h2>Borrowed Books:</h2>
        <hr>
        <div id="borrowedBooks"></div>
    </div>
</div>

<script src="/js/user-index.js"></script>