<div class="row mb-4">
    <div class="col">
        <h1>Hello <%= locals.session.username %>!</h1>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <h2>Account management</h2>
        <hr>
        <h4>Update username:</h4>

        <form id="username-form" class="form">
            <div class="form-group">
                <label for="username-input">Username</label>
                <input type="text" class="form-control" id="username-input" placeholder="Enter username">
              </div>
              <button id="submit-btn" type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
        </form>
    </div>
</div>

<script src="/js/user-index.js"></script>